
<div  style="background-image: url('https://static.vecteezy.com/system/resources/thumbnails/033/027/755/small_2x/flat-lay-vegetables-on-white-background-food-and-diet-concept-ai-generated-free-photo.jpg');width: 100%;min-height: 100vh;background-size: cover;background-position: center;background-repeat: no-repeat;" class="container d-flex justify-content-center align-items-center">
 <div class="text-center">
    <h2>Login</h2>
    <p>More than 100 plus Recipes from around the world</p>
    <div class="border rounded shadow p-5 my-5">
        <h4> <i class="fa-solid fa-graduation-cap"></i> Cookpedia</h4>
        <form [formGroup]="loginForm" (ngSubmit)="login()" >
            <input name="email" formControlName="email" type="text" class="form-control mt-5" placeholder="Email">
            @if (loginForm.get('email')?.errors && loginForm.get('email')?.touched) {<div class="text-danger mb-2">Invalid Email</div>}

            <input name="password" formControlName="password" type="password" class="form-control mt-3" placeholder="Password">
            @if (loginForm.get('password')?.errors && loginForm.get('password')?.touched) {<div class="text-danger mb-2">Invalid Password</div>}

            <button type="submit" class="btn btn-success mt-3 w-100">LOGIN</button>
        </form>
    </div>
</div>
</div>
<app-footer></app-footer>